<%- include('include/-header') %>

<div class="box">
  <div class="pre">
    <i class="fas fa-images" style="font-size: 60px; color: blue" ;> </i>
    <a href="/presentation">Presentation</a>
  </div>
  <div class="pre">
    <i class="fas fa-lock" style="font-size: 60px; color: blue" ;> </i>
    <a href="">Dummy</a>
  </div>
</div>

<%- include('include/-footer') %>
